<h1>Listing expenses</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Amount</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user.expenses.each do |expense| %>
      <tr>
        <td><%= expense.category %></td>
        <td><%= expense.amount %></td>
        <td><%= link_to 'Show', [@user,expense] %></td>
        <td><%= link_to 'Edit', edit_user_expense_path(@user,expense) %></td>
        <td><%= link_to 'Destroy', [@user,expense], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expense', new_user_expense_path %>
