<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @expense.category %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @expense.amount %>
</p>

<%= link_to 'Edit', edit_user_expense_path(@user, @expense) %> |
<%= link_to 'Back', user_expenses_path %>
